
<div class="MPM-KPI-THRESHOLD">

    <div class="KPI Info">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        <translate>ID</translate>
                    </th>
                    <th>
                        <translate>NE</translate>
                    </th>
                    <th>
                        <translate>Granularity</translate>
                    </th>
                    <th>
                        <translate>Name</translate>
                    </th>
                    <th>
                        <translate>Type</translate>
                    </th>
                    <th>
                        <translate>Unit</translate>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>K{{KPIID}}</td>
                    <td>{{neType}} </td>
                    <td>{{gran}} </td>
                    <td>{{KPIName}} </td>
                    <td>{{getType(KPIType)}} </td>
                    <td>{{unit||''}}</td>

                </tr>

                </tbody>

            </table>
        </div>
    </div>
    <div class="THRESHOLD_DEF">
        <label>Threshold Definition</label>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    <translate>Condition1</translate>
                </th>
                <th>
                    <translate>And/Or</translate>
                </th>
                <th>
                    <translate>Condition2</translate>
                </th>
                <th>
                    <translate>Level</translate>
                </th>
                <th>
                    <translate>Action</translate>
                </th>
                <th>
                    <translate></translate>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr  data-ng-repeat="d in defines">
                <td><input data-ng-model="condition1"></td>
                <td><select class="form-control" id="ANDOR" data-ng-model="ANDOR" data-ng-options=" t.type for t in connector" data-ng-change="update()"></select></td>
                <td><input data-ng-model="condition2"></td>
                <td><select class="form-control" id="LEVEL" data-ng-model="LEVEL" data-ng-options=" t.type for t in levels" data-ng-change="update()"></select></td>
                <td><select class="form-control" id="Action" data-ng-model="Action" data-ng-options=" t.type for t in actions" data-ng-change="update()"></select></td>
                <td>
                    <button class="btn btn-warning" data-ng-click="onDeleteThreshold(d)" tooltip="Delete Threshold Defintion">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <button class="pull-left col-sm-12 col-md-3 col-lg-2 btn btn-info"  style="margin-left:15px;" data-ng-click="addNewThreshold()">
        <i class="fa fa-plus-circle"></i>
        Add new threshold
    </button>
</div>

