@charset "utf-8";
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Tahoma;
	font-size: 14px;
}
ul {
	list-style: none;
}
input {
	outline: none;
	vertical-align: middle;
}
.clear {
	clear: both;
	visibility: hidden;
	font-size: 1px;
}
.header {
	height: 72px;
	background: #0096d6;
	line-height: 72px;
	text-align: center;
	color: #fff;
}
.tbody {
	padding: 0 15px;
}
.menuBar {
	height: 85px;
	margin-top: 15px;
}
.menuBar .mainMenu {
	height: 45px;
}
.menuBar .mainMenu li {
	float: left;
	width: 100px;
	background-color: #ececec;
	margin-right: 1px;
	line-height: 45px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	color: #666;
	padding-left: 50px;
}
.menuBar .mainMenu li.icocatalog {
	background-image: url(../images/ico_catalog_selected.png);
	background-position: 20px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.menuBar .mainMenu li.icoinstance {
	background-image: url(../images/ico_instance_default.png);
	background-position: 20px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.menuBar .mainMenu li.icoprocess {
	background-image: url(../images/ico_process_default.png);
	background-position: 20px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.menuBar .mainMenu li.selected {
	background-color: #0096d6;
	color: #fff;
	cursor: default;
}
.menuBar .mainMenu .searchBar {
	float: right;
}
.generalSearch {
	border: 1px solid #bcbcbc;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-radius: 20px;
	width: 250px;
	height: 30px;
	float: left;
}
.generalSearch input {
	float: left;
}
.generalSearch input[type='text'] {
	border: none;
	background: #fff;
	width: 205px;
	height: 30px;
	line-height: 0;
	border-radius: 20px;
	padding: 0 10px;
}
.generalSearch input[type='button'] {
	background-image: url(../images/ico_search.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: #fff;
	margin-top: 5px;
	cursor: pointer;
}
.generalSearch input[type='button']:active {
	background-image: url(../images/ico_search_active.png);
}
.advancedSearch {
	float: left;
	margin-left: 5px;
	position: relative;
	z-index: 998;
}
.advancedSearch a {
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	border-radius: 20px;
	border: 1px solid #ddd;
	font-weight: bold;
	padding: 0 10px;
	color: #666;
	display: block;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
}
.advancedSearch a span {
	background-image: url(../images/ico_minimize.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	padding-left: 20px;
}
.advancedSearch a span.expand {
	background-image: url(../images/ico_expand.png);
}
.advancedSearch a:active {
	background: -webkit-linear-gradient(top, #eee, #fff);
	background: -moz-linear-gradient(top, #eee, #fff);
	background: -ms-linear-gradient(top, #eee, #fff);
	background: linear-gradient(top, #eee, #fff);
}
.advancedSearch .arrowbg {
	background: url(../images/ico_arrow.png);
	height: 9px;
	width: 17px;
	position: absolute;
	top: 27px;
	right: 60px;
	z-index: 997;
	display: none;
}
.advancedSearch .searchCriteria {
	position: absolute;
	top: 35px;
	z-index: 996;
	right: 0;
	width: 400px;
	height: 200px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	display: none;
	line-height: 200px;
	text-align: center;
	color: #666;
}
.menuBar .subMenu {
	height: 35px;
	background: #0096d6;
	border-bottom: 5px solid #0084bc;
	border-top-right-radius: 3px;
}
.menuBar .subMenu li {
	padding: 0 15px;
	line-height: 35px;
	float: left;
}
.menuBar .subMenu li.spaceline {
	font-size: 12px;
	color: #fff;
	padding: 0;
}
.menuBar .subMenu li a {
	color: #fff;
	text-decoration: none;
}
.menuBar .subMenu li a.selected {
	background: #4b9ed4;
	padding: 2px 10px;
	border-radius: 10px;
	border: 1px solid #5fa9d9;
}
.sortBy {
	float: right;
	margin-right: 10px;
	margin-top: 6px;
}
.sortBy a {
	display: block;
	text-decoration: none;
	background: #4b9ed4 url(../images/ico_sort_arrow.png) 5px center no-repeat;
	padding: 2px 10px 0 25px;
	border-radius: 10px;
	border: 1px solid #5fa9d9;
	color: #fff;
	line-height: 20px;
	height: 20px;
}
.sortBy a.up {
	background: #4b9ed4 url(../images/ico_sort_arrow_up.png) 5px center no-repeat;
}
.showAndHideQuota {
	float: right;
	margin-right: 10px;
	margin-top: 6px;
}
.showAndHideQuota a {
	width: 78px;
	display: block;
	text-decoration: none;
	background: #4b9ed4 url(../images/ico_hide.png) 5px center no-repeat;
	padding: 2px 5px 0 25px;
	border-radius: 10px;
	border: 1px solid #5fa9d9;
	color: #fff;
	line-height: 20px;
	height: 20px;
	text-align: center;
}

.showAndHideQuota a.show {
	background: #4b9ed4 url(../images/ico_show.png) 5px center no-repeat;
}
.quotaBar { 
	background: #ddd;
	border-bottom: 1px solid #fff;
	padding: 10px 5px 10px 10px;
}
.quotaBar li {
	float: left;
	width: 33.33%
}
.quotaBar li .quotaInfoBox {
	margin: 0 15px 0 10px;
	background: #fff; 
	border-radius: 3px;
	border: 1px solid #cacaca;
}
.quotaBar li .quotaInfoBox .title {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	color: #666;
	border-bottom: 1px solid #ddd;
}
.quotaBar li .quotaInfoBox .xbar {
	margin: 10px;
	height: 20px;
	border: 1px solid #ddd;
	text-align: center;
	color: #333;
	line-height: 20px;
	border-radius: 15px;
	background: #f8f8f8;
}
.gridBar {
	background: #ececec;
	padding: 0 5px 20px 5px; 
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 1px solid #ddd;
}
.gridBox {
	float: left;
	width: 25%;
}
.gridBox .gridcon {
	margin: 20px 15px 0 15px;
	background: #fff;
	position: relative;
	padding: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.gridBox .gridcon a {
	text-decoration: none;
}
.gridBox .gridcon a img {
	width: 100%;
	height: 200px;
	border: 0;
}
.gridBox .gridcon a .showdiv {
	background: rgba(0,0,0,0.7);
	cursor: pointer;
	height: 30px;
	overflow: hidden;
	color: #fff;
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.gridBox .gridcon a .showdiv .title {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding: 6px 10px 5px 10px;
}
.gridBox .gridcon a .showdiv .title span {
	padding-right: 5px;
}
.gridBox .gridcon a .showdiv table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 5px;
}
.gridBox .gridcon a .showdiv table th {
	width: 80px;
	text-align: left;
	line-height: 21px;
	font-weight: normal;
	vertical-align: top;
	padding-left: 10px;
}
.gridBox .gridcon a .showdiv table td {
	line-height: 21px;
	padding: 0 10px 0 0;
}
.gridBox .gridcon a .showdiv table td .Dscripton {
	height: 42px;
	overflow: hidden;
}
.gridBox .gridcon a .showdiv .infobar {
	margin-top: 5px;
	margin-left: 10px;
}
.gridBox .gridcon a .showdiv .infobar li {
	float: left;
	margin-right: 3px;
	border: 1px solid #ddd;
	background: #eee;
	color: #333;
	font-size: 12px;
	padding: 0 3px;
	border-radius: 2px;
}
.gridBox .gridcon a .showdiv .actionBtnbar {
	margin-top: 20px;
	padding: 0 10px;
}
.gridBox .gridcon a .showdiv .actionBtnbar li {
	float: right;
	background-color: #0096d6;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	margin-left: 5px;
	cursor: pointer;
}
.gridBox .gridcon a .showdiv .actionBtnbar li.deploy {
	background-image: url(../images/ico_deploy.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.gridBox .gridcon a .showdiv .actionBtnbar li.edit {
	background-image: url(../images/ico_edit.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.gridBox .gridcon a .showdiv .actionBtnbar li.delete {
	background-image: url(../images/ico_delete.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.popupBg {
	width: 100%;
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
}
.popup {
	position: absolute;
	left: 50%;
	Top: 50%;
	margin-top: -300px;
	z-index: 1;
	margin-left: -400px;
	width: 800px;
	Height: 600px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px;
	text-align: center;
	line-height: 600px;
}
