<div class="nfvd_c_designer-tbody">
    <div class="nfvd_c_VdcIM">
        <div id="header" class="row">
            <div class="col-md-2 nfvd_c_vdcTitle">
                <translate>VDC_MANAGER.VDC</translate>
                : <span class="label label-primary">{{orgVDCInstance.name}}</span></div>
            <div class="col-md-3 nfvd_c_vdcTitle">
                <form class="form-inline">
                    <div class="form-group"> <span for="vappsel">
						<translate>VDC_MANAGER.VAPP_GROUP</translate>
						:</span>
                        <select class="form-control" id="vappsel"
                                ng-model="selVappGroups"
                                ng-options="group.name for group in vappGroups"
                                ng-change="vappGroupChange()">
                        </select>
                    </div>
                </form>
            </div>
            <i class="fa fa-arrow-circle-right"
               style="font-size: 24px; float: right; margin: 7px 10px 0 0; cursor:pointer;"
               ng-click="switchInfoPanel()"></i>

            <div class="nfvd_c_totalNum" ng-show="showPanel===0">
                <ul>
                    <li title="{{('VDC_MANAGER.TOTAL_VAPP'|translate) + ':' + totalVAPP }}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.TOTAL_VAPP</translate>
						:</span> <span class="label alert-success label-as-badge">{{totalVAPP}}</span></li>
                    <li title="{{('VDC_MANAGER.TOTAL_VM'|translate) + ':' + totalVM }}"><span class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.TOTAL_VM</translate>
						:</span> <span class="label alert-info label-as-badge">{{totalVM}}</span></li>
                    <li title="{{('VDC_MANAGER.TOTAL_VCORE'|translate) + ':' + vappTotalResource.vCore.value }}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.TOTAL_VCORE</translate>
						:</span> <span class="label alert-info label-as-badge">{{vappTotalResource.vCore.value}}</span>
                    </li>
                    <li title="{{('VDC_MANAGER.TOTAL_VMEMORY'|translate) + ':' + vappTotalResource.vMem.value + vappTotalResource.vMem.unit 
}}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.TOTAL_VMEMORY</translate>
						:</span> <span class="label alert-info label-as-badge">{{vappTotalResource.vMem.value}} 
{{vappTotalResource.vMem.unit}}</span>
                    </li>
                    <li title="{{('VDC_MANAGER.TOTAL_VDISK'|translate) + ':' + vappTotalResource.vDisk.value + vappTotalResource.vDisk.unit 
}}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.TOTAL_VDISK</translate>
						:</span> <span class="label alert-info label-as-badge">{{vappTotalResource.vDisk.value}} 
{{vappTotalResource.vDisk.unit}} </span>
                    </li>
                </ul>
            </div>
            <div class="nfvd_c_totalNum" ng-show="showPanel===1">
                <ul>
                    <li title="{{('VDC_MANAGER.DEPLOYED_VAPPS'|translate) + ':' + deployedVAPP }}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.DEPLOYED_VAPPS</translate>
						:</span> <span class="label alert-success label-as-badge">{{deployedVAPP}}</span></li>
                    <li title="{{('VDC_MANAGER.DEPLOYED_VMS'|translate) + ':' + deployedVM }}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.DEPLOYED_VMS</translate>
						:</span> <span class="label alert-info label-as-badge">{{deployedVM}}</span></li>
                    <li title="{{('VDC_MANAGER.DEPLOYED_VCORE'|translate) + ':' + vappDeployedResource.vCore.value }}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.DEPLOYED_VCORE</translate>
						:</span> <span
                            class="label alert-info label-as-badge">{{vappDeployedResource.vCore.value}}</span></li>
                    <li title="{{('VDC_MANAGER.DEPLOYED_VMEMORY'|translate) + ':' + vappDeployedResource.vMem.value + 
vappDeployedResource.vMem.unit }}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.DEPLOYED_VMEMORY</translate>
						:</span> <span class="label alert-info label-as-badge">{{vappDeployedResource.vMem.value}} 
{{vappDeployedResource.vMem.unit}}</span>
                    </li>
                    <li title="{{('VDC_MANAGER.DEPLOYED_VDISK'|translate) + ':' + vappDeployedResource.vDisk.value + 
vappDeployedResource.vDisk.unit }}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.DEPLOYED_VDISK</translate>
						:</span> <span class="label alert-info label-as-badge">{{vappDeployedResource.vDisk.value}} 
{{vappDeployedResource.vDisk.unit}} </span>
                    </li>
                </ul>
            </div>
            <div class="nfvd_c_totalNum" ng-show="showPanel===2">
                <ul>
                    <li title="{{('VDC_MANAGER.TOTAL_NETWORKS'|translate) + ':' + totalNetwork }}"><span
                            class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.TOTAL_NETWORKS</translate>
						:</span> <span class="label alert-success label-as-badge">{{totalNetwork}}</span></li>
                    <li title="{{('VDC_MANAGER.TOTAL_FWS'|translate) + ':' + totalFW }}"><span class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.TOTAL_FWS</translate>
						:</span> <span class="label alert-info label-as-badge">{{totalFW}}</span></li>
                    <li title="{{('VDC_MANAGER.TOTAL_LBS'|translate) + ':' + totalLB }}"><span class="nfvd_c_maxWidth">
						<translate>VDC_MANAGER.TOTAL_LBS</translate>
						:</span> <span class="label alert-info label-as-badge">{{totalLB}}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nfvd_c_mainCon">
        <div class="nfvd_c_rightBar">
            <div class="nfvd_c_left-display-con">
                <div class="nfvd_c_right-tab-y">
                    <ul>
                        <li class="nfvd_c_tab-rotate selected">
                            <translate>VDC_MANAGER.INSPECTOR</translate>
                        </li>
                        <li class="nfvd_c_tab-rotate marginTop102px">
                            <translate>VDC_MANAGER.VAPP_SELECTOR</translate>
                        </li>
                    </ul>
                </div>
                <div class="nfvd_c_left-display-con-border">
                    <nfvd-vdcmngr-inspector artifact="selArtifact" widget="widget" context="context"
                                            deploy="deployComponent(selArtifact)"
                                            user-Info="userInfo"></nfvd-vdcmngr-inspector>
                </div>
                <div class="nfvd_c_left-display-con-border" style="display: none;">
                    <div class="nfvd_c_select_all_title">
                        <div class="nfvd_c_sort"></div>
                        <div class="nfvd_c_checkbox_all"><input type="checkbox" style="width:  18px; height: 18px;" id="checkall" ng-model="isShowAllVapp"
                                                                ng-click="showAllVappInfo()"></div>
                        <div class="nfvd_c_sortbox" style="display: none;">
                            <ul>
                                <li class="nfvd_c_sort_down " id="nfvd_sort_name" ng-click="sortNameClick()">Name</li>
                                <li class="nfvd_c_sort_down" id="nfvd_sort_status"  ng-click="sortStatusClick()"> Status</li>
                                <li class="nfvd_c_sort_down" id="nfvd_sort_time" ng-click="sortTimeClick()">Create Time</li>
                            </ul>
                        </div>
                        <div class="nfvd_right_searchbox"><input class="nfvd_c_filter_input" type="text" ng-model="vappFilter"/></div>
                        <!--<input type="hidden" ng-model="order"/>-->
                    </div>
                    <div class="nfvd_c_vAPPelements nfvd_c_formTablePad">
                        <ul>
                            <li ng-repeat="vapp in vapps|filter:{name:vappFilter}|orderBy:order" ng-style="{'background':vapp.color}">

                                <i ng-if="isVappIll(vapp)" class="fa fa-bug"  style="float:right; margin-top: 5px;"></i>
                                <input name="checkname" type="checkbox" ng-model="vapp.show"
                                       ng-click="showVappVMs(vapp)" style="width: 18px; height: 18px;">
                                <label ng-click="showVappInfo(vapp)"><a href="#">{{getVAPPInstanceDisplayName(vapp)}} </a> - <translate>VDC_MANAGER.VMS</translate>
                                    : <span class="badge" style="margin-top: -3px;">{{getTotalVMsOfVAPP(vapp)}}</span></label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="nfvd_c_navigatorArea">
                <div class="nfvd_c_deployArea_box">
                    <h1>
                        <translate>VDC_MANAGER.NAVIGATOR</translate>
                    </h1>
                    <div id="navigator"></div>
                </div>
            </div>
        </div>
        <div class="nfvd_c_midBar">
            <div id="nfvd_c_arrow_leftBar_Hide"></div>
            <div id="nfvd_c_arrow_leftBar_Show" style="display: none;"></div>

            <div id="paper-holder-groups"></div>
            <div id="nfvd_c_arrow_rightBar_Hide"></div>
            <div id="nfvd_c_arrow_rightBar_Show" style="display: none;"></div>
            <div id="nfvd_c_leftWide"></div>
            <div id="nfvd_c_rightNarrow" style="display: none"></div>
        </div>
        <div class="nfvd_c_leftBar">
            <div class="nfvd_c_right-display-con">
                <div class="nfvd_c_right-display-con-border">
                    <div class="nfvd_c_vapp_searchBar">
                        <input type="text" ng-model="comFilter" placeholder="Search.."/>
                    </div>
                    <div class="nfvd_c_vAPPelements nfvd_c_vAPPelements_l nfvd_c_formTablePad">
                        <nfvd-common-component 
                            ng-repeat="com in components|filter: {name : comFilter}" 
                            component="com"
                            create="createInstanceOfComponent(com)"
                            edit="editComponentConnections(com)">
                        </nfvd-common-component>
                    </div>
                </div>
                <div class="nfvd_c_right-display-con-border" style="display: none;">
                    <div class="nfvd_c_vapp_searchBar">
                        <input type="text" ng-model="catFilter" placeholder="Search.."/>
                    </div>
                    <div class="nfvd_c_vAPPelements nfvd_c_vAPPelements_l nfvd_c_formTablePad">
                        <nfvd-common-component 
                            ng-repeat="vapp in vappCatalogs|filter: {name : catFilter}"
                            component="vapp"
                            create="createInstanceOfComponent(vapp)"
                            edit="editComponentConnections(vapp)">
                       </nfvd-common-component>
                    </div>
                </div>
                <div class="nfvd_c_right-display-con-border" style="display: none;">
                    <div class="nfvd_c_vapp_searchBar">
                        <input type="text" ng-model="monitorFilter" placeholder="Search.."/>
                    </div>
                    <div class="nfvd_c_vAPPelements nfvd_c_vAPPelements_l nfvd_c_formTablePad">
                        <nfvd-common-component 
                            ng-repeat="monitor in monitorCatalog|filter: {name : monitorFilter}"
                            component="monitor"
                            create="createInstanceOfComponent(monitor)"
                            edit="editComponentConnections(monitor)">
                       </nfvd-common-component>
                    </div>
                </div>
                <div class="nfvd_c_right-display-con-border" style="display: none;">
                    <div class="nfvd_c_vapp_searchBar">
                        <input type="text" ng-model="catFilter" placeholder="Search.."/>
                    </div>
                    <div class="nfvd_c_vAPPelements nfvd_c_vAPPelements_l nfvd_c_formTablePad"></div>
                </div>
                <div class="nfvd_c_left-tab-y">
                    <ul>
                        <li class="nfvd_c_tab-rotate selected">
                            <translate>VDC_MANAGER.VDC_ELEMENTS</translate>
                        </li>
                        <li class="nfvd_c_tab-rotate marginTop75px">
                            <translate>VDC_MANAGER.VAPPS</translate>
                        </li>
                        <li class="nfvd_c_tab-rotate marginTop60px">
                            <translate>VDC_MANAGER.MONITORS</translate>
                        </li>
                        <li class="nfvd_c_tab-rotate marginTop60px">
                            <translate>VDC_MANAGER.STORAGES</translate>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
