<div class="nfvd-vdc-chooser">
    <div class="row header">
<!--        <div class="col-sm-12 col-md-5 col-lg-5">
            <ol class="breadcrumb">
                <li>
                    <span translate="NFVD_VDC_CHOOSER.BANNER" translate-values="{ name: '{{targetManager | nfvdFiltersFamilyPrint}}'}"></span>
                    &nbsp;<span class="badge">{{filtered.length}}</span>
                </li>
            </ol>
        </div>-->

        <label class="pull-right col-sm-12 col-md-3 col-lg-2">
            <input class="form-control ng-pristine ng-valid" ng-model="searchText" placeholder="search...">
        </label>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    <translate>Name</translate>
                </th>
                <th>
                    <translate>Description</translate>
                </th>
                <th>
                    <translate>Status</translate>
                </th>
                <th>
                    <translate>Operation</translate>
                </th>
                <th>
                    <translate>Latest Collection</translate>
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="item in filtered = (kpis | filter:searchText)">
                <td><i class="fa fa-building"></i> {{item.name}}</td>
                <td>{{item.desc || "No description"}}</td>

                <td class="btn-group-sm">
                    {{item.status || "Offline"}}

                </td>
                <td><button class="btn btn-info" data-ng-click="operate(item)" ng-hide="item.status==='Offline'">
                    <i ng-class="{'fa fa-play':item.status==='stopped','fa fa-stop':item.status==='started'}"></i>
                    {{getActionLabel(item)}}
                </button></td>
                <td>{{item.lstScan||''}}</td>
                <td>  <button class="btn btn-info" data-ng-click="refreshStatus(item)">
                    <i class="fa fa-refresh"></i>
                    Refresh
                </button></td>
               <!-- <td>  {{item}}</td>-->
            </tr>

            </tbody>
        </table>
    </div>
</div>
