<div class="MPM-KPI-MANAGER" >
    <div class="row header">
        <button class="pull-left col-sm-12 col-md-3 col-lg-2 btn btn-info"  style="margin-left:15px;" data-ng-click="createNewAPI()">
            <i class="fa fa-plus-circle"></i>
            Create
        </button>
        <label class="pull-right col-sm-12 col-md-3 col-lg-2">
            <input class="form-control ng-pristine ng-valid" ng-model="searchText" placeholder="search...">
        </label>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    <translate>ID</translate>
                </th>
                <th>
                    <translate>NE</translate>
                </th>
                <th>
                    <translate>Description</translate>
                </th>
                <th>
                    <translate>Granularity</translate>
                </th>
                <th>
                    <translate>Name</translate>
                </th>
                <th>
                    <translate>Type</translate>
                </th>
                <th>
                    <translate>Formula</translate>
                </th>
                <th>
                    <translate>Unit</translate>
                </th>
                <th>
                    <translate>Data</translate>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="item in filtered = (kpis | filter:searchText )|orderBy:'id'">
                <td><!--<i class="fa fa-signal"></i>--> K{{item.id}}</td>
                <td>{{item.ne || ''}} </td>
                <td>{{item.description || ''}} </td>
                <td>{{item.gran || ''}} </td>
                <td>{{item.name || ''}} </td>
                <td>{{getType(item.type)||''}}</td>
                <td>{{item.formula||''}}</td>
                <td>{{item.unit||''}}</td>
                <td>  <button class="btn btn-info" data-ng-click="editKPI(item.id)">
                    <i class="fa fa-pencil-square-o"></i>
                </button></td>
            </tr>

            </tbody>

        </table>
    </div>
</div>
