<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MPM</title>
<link type="text/css" href="css/grid.css" rel="stylesheet" />
</head>
<script src="/../bower_components/dust/jquery"></script>
<script src="/../js/layout.js"></script>
<body>
<div class="header">HPE MPM Console</div>
<div class="tbody">
	<div class="menuAndQuotaHeight">
        <div class="menuBar">
            <div class="mainMenu">
                <div class="searchBar">
                    <div class="generalSearch">
                        <input type="text" />
                        <input type="button" value="" />
                    </div>
                    <div class="advancedSearch">
                        <a href="#"><span>Advanced Search</span></a>
                        <div class="arrowbg"></div>
                        <div class="searchCriteria">Advanced search criteria</div>
                    </div>
                </div>
                <ul>
                    <li class="icocatalog selected">Catalog</li>
                    <li class="icoinstance">Instance</li>
                    <li class="icoprocess">Process</li>
                </ul>
            </div>
            <div class="subMenu">
            	<div class="showAndHideQuota"><a href="#">Hide Quota</a></div>
                <div class="sortBy"><a href="#">Sort by Name</a></div>
                <ul>
                    <li><a href="#" class="selected">SubMenu1</a></li>
                    <li class="spaceline">|</li>
                    <li><a href="#">SubMenu2</a></li>
                    <li class="spaceline">|</li>
                    <li><a href="#">SubMenu3</a></li>
                    <li class="spaceline">|</li>
                    <li><a href="#">SubMenu4</a></li>
                    <li class="spaceline">|</li>
                    <li><a href="#">SubMenu5</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="quotaBar">
            <ul>
                <li>
                    <div class="quotaInfoBox">
                        <div class="title">CPU (Used/total)</div>
                        <div class="xbar">/(%)</div>
                    </div>
                </li>
                <li>
                    <div class="quotaInfoBox">
                        <div class="title">Memory (Used/total)</div>
                        <div class="xbar">/(%)</div>
                    </div>
                </li>
                <li>
                    <div class="quotaInfoBox">
                        <div class="title">Disk (Used/total)</div>
                        <div class="xbar">/(%)</div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
	<div class="gridBar">
		<div class="gridBox">
			<div class="gridcon"> <a href="#"><img src="images/temp.jpg" />
				<div class="showdiv">
					<div class="popupAction">
						<p class="title"><span>Name:</span>vnf1234</p>
						<table>
							<tr>
								<th>Version:</th>
								<td> 1.2.3.4</td>
							</tr>
							<tr>
								<th>Type:</th>
								<td>vnf</td>
							</tr>
							<tr>
								<th>Dscripton:</th>
								<td><div class="Dscripton">Dscripton of vnf</div></td>
							</tr>
						</table>
						<div class="infobar">
							<ul>
								<li>CPU: 4core</li>
								<li>Memory: 1024MB</li>
								<li>Disk: 20G</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="actionBtnbar">
						<ul>
							<li class="delete" title="Delete"></li>
							<li class="edit" title="Edit"></li>
							<li class="deploy" title="Deploy"></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				</a> </div>
		</div>
		<div class="gridBox">
			<div class="gridcon"> <a href="#"><img src="images/temp2.jpg" />
				<div class="showdiv">
					<div class="popupAction">
						<p class="title"><span>Name:</span>vnf1234</p>
						<table>
							<tr>
								<th>Version:</th>
								<td> 1.2.3.4</td>
							</tr>
							<tr>
								<th>Type:</th>
								<td>vnf</td>
							</tr>
							<tr>
								<th>Dscripton:</th>
								<td><div class="Dscripton">Dscripton of vnf</div></td>
							</tr>
						</table>
						<div class="infobar">
							<ul>
								<li>CPU: 4core</li>
								<li>Memory: 1024MB</li>
								<li>Disk: 20G</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="actionBtnbar">
						<ul>
							<li class="delete" title="Delete"></li>
							<li class="edit" title="Edit"></li>
							<li class="deploy" title="Deploy"></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				</a> </div>
		</div>
		<div class="gridBox">
			<div class="gridcon"> <a href="#"><img src="images/temp3.jpg" />
				<div class="showdiv">
					<div class="popupAction">
						<p class="title"><span>Name:</span>vnf1234</p>
						<table>
							<tr>
								<th>Version:</th>
								<td> 1.2.3.4</td>
							</tr>
							<tr>
								<th>Type:</th>
								<td>vnf</td>
							</tr>
							<tr>
								<th>Dscripton:</th>
								<td><div class="Dscripton">Dscripton of vnf</div></td>
							</tr>
						</table>
						<div class="infobar">
							<ul>
								<li>CPU: 4core</li>
								<li>Memory: 1024MB</li>
								<li>Disk: 20G</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="actionBtnbar">
						<ul>
							<li class="delete" title="Delete"></li>
							<li class="edit" title="Edit"></li>
							<li class="deploy" title="Deploy"></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				</a> </div>
		</div>
		<div class="gridBox">
			<div class="gridcon"> <a href="#"><img src="images/temp4.jpg" />
				<div class="showdiv">
					<div class="popupAction">
						<p class="title"><span>Name:</span>vnf1234</p>
						<table>
							<tr>
								<th>Version:</th>
								<td> 1.2.3.4</td>
							</tr>
							<tr>
								<th>Type:</th>
								<td>vnf</td>
							</tr>
							<tr>
								<th>Dscripton:</th>
								<td><div class="Dscripton">Dscripton of vnf</div></td>
							</tr>
						</table>
						<div class="infobar">
							<ul>
								<li>CPU: 4core</li>
								<li>Memory: 1024MB</li>
								<li>Disk: 20G</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="actionBtnbar">
						<ul>
							<li class="delete" title="Delete"></li>
							<li class="edit" title="Edit"></li>
							<li class="deploy" title="Deploy"></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				</a> </div>
		</div>
		<div class="gridBox">
			<div class="gridcon"> <a href="#"><img src="images/temp5.jpg" />
				<div class="showdiv">
					<div class="popupAction">
						<p class="title"><span>Name:</span>vnf1234</p>
						<table>
							<tr>
								<th>Version:</th>
								<td> 1.2.3.4</td>
							</tr>
							<tr>
								<th>Type:</th>
								<td>vnf</td>
							</tr>
							<tr>
								<th>Dscripton:</th>
								<td><div class="Dscripton">Dscripton of vnf</div></td>
							</tr>
						</table>
						<div class="infobar">
							<ul>
								<li>CPU: 4core</li>
								<li>Memory: 1024MB</li>
								<li>Disk: 20G</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="actionBtnbar">
						<ul>
							<li class="delete" title="Delete"></li>
							<li class="edit" title="Edit"></li>
							<li class="deploy" title="Deploy"></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				</a> </div>
		</div>
		<div class="gridBox">
			<div class="gridcon"> <a href="#"><img src="images/temp6.jpg" />
				<div class="showdiv">
					<div class="popupAction">
						<p class="title"><span>Name:</span>vnf1234</p>
						<table>
							<tr>
								<th>Version:</th>
								<td> 1.2.3.4</td>
							</tr>
							<tr>
								<th>Type:</th>
								<td>vnf</td>
							</tr>
							<tr>
								<th>Dscripton:</th>
								<td><div class="Dscripton">Dscripton of vnf</div></td>
							</tr>
						</table>
						<div class="infobar">
							<ul>
								<li>CPU: 4core</li>
								<li>Memory: 1024MB</li>
								<li>Disk: 20G</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="actionBtnbar">
						<ul>
							<li class="delete" title="Delete"></li>
							<li class="edit" title="Edit"></li>
							<li class="deploy" title="Deploy"></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				</a> </div>
		</div>
		<div class="gridBox">
			<div class="gridcon"> <a href="#"><img src="images/temp7.jpg" />
				<div class="showdiv">
					<div class="popupAction">
						<p class="title"><span>Name:</span>vnf1234</p>
						<table>
							<tr>
								<th>Version:</th>
								<td> 1.2.3.4</td>
							</tr>
							<tr>
								<th>Type:</th>
								<td>vnf</td>
							</tr>
							<tr>
								<th>Dscripton:</th>
								<td><div class="Dscripton">Dscripton of vnf</div></td>
							</tr>
						</table>
						<div class="infobar">
							<ul>
								<li>CPU: 4core</li>
								<li>Memory: 1024MB</li>
								<li>Disk: 20G</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="actionBtnbar">
						<ul>
							<li class="delete" title="Delete"></li>
							<li class="edit" title="Edit"></li>
							<li class="deploy" title="Deploy"></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				</a> </div>
		</div>
		<div class="gridBox">
			<div class="gridcon"> <a href="#"><img src="images/temp8.jpg" />
				<div class="showdiv">
					<div class="popupAction">
						<p class="title"><span>Name:</span>vnf1234</p>
						<table>
							<tr>
								<th>Version:</th>
								<td> 1.2.3.4</td>
							</tr>
							<tr>
								<th>Type:</th>
								<td>vnf</td>
							</tr>
							<tr>
								<th>Dscripton:</th>
								<td><div class="Dscripton">Dscripton of vnf</div></td>
							</tr>
						</table>
						<div class="infobar">
							<ul>
								<li>CPU: 4core</li>
								<li>Memory: 1024MB</li>
								<li>Disk: 20G</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="actionBtnbar">
						<ul>
							<li class="delete" title="Delete"></li>
							<li class="edit" title="Edit"></li>
							<li class="deploy" title="Deploy"></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				</a> </div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="popupBg">
	<div class="popup">Detail</div>
</div>
</body>
</html>
