
<!--span class="chinese-sample-widget">{{myData}}</span-->
<div class="ng-highcharts">
  <style>
    @import url('/addons/hp/widgets/hp-ng-highcharts/hp-ng-highcharts.css');
  </style>

  <h3>NFVD GUI Requests Monitor</h3>
 <!-- <div class="row">
      <div class="col-md-2">
      <label>
      <select class="form-control" ng-model="vm.category" ng-options="dim for dim in vm.dims">
        <option value="">&#45;&#45; select category &#45;&#45;</option>
      </select>
      </label>
      </div>

     <div class="col-md-2">
      <label>
      <select class="form-control" ng-model="vm.series" ng-options="dim for dim in vm.dims">
        <option value="">&#45;&#45; select series &#45;&#45;</option>
      </select>
      </label>
     </div>

    <div class="col-md-2">
      <label>
      <select class="form-control" ng-model="vm.value" ng-options="fact for fact in vm.facts">
          <option value="">&#45;&#45; select value &#45;&#45;</option>
      </select>

    </label>
    </div>

    <div class="col-md-2">
      <span class="btn btn-primary" ng-click="vm.refresh()">Apply</span>
    </div>
  </div>-->
    <div>
        <highchart id="idchart" config="vm.configuration"></highchart>
    </div>

</div>
